html {
    background-color: #03045E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #90E0EF;
    width: 50%;
    margin: auto;   
    border-radius: 25px;
}

header {
    background-color: #00b4d8;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
}

article {
    padding-left: 1%;
}

footer {
    background-color: #0077b6;
    text-align: center;
    border-radius: 0 0 25px 25px;
}